<template>
  <div class="candidate-item">
    {{ candidate }}
    <span v-if="votes">({{ wins }} - {{ losses }})</span>
  </div>
</template>

<script>
export default {
  name: 'CandidateItem',
  props: ['candidate', 'votes'],
  computed: {
    wins: function () {
      let winners = this.votes.map(v => v[0]);
      return winners.filter(c => c === this.candidate).length;
    },
    losses: function () {
      let losers = this.votes.map(v => v[1]);
      return losers.filter(c => c === this.candidate).length;
    }
  }
}
</script>

<style scoped>
  .candidate-item {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
  }
</style>

