<template>
  <div class="candidates-page">
    <p>
      <strong>Add items to compare using the form below.</strong> You can always come back and add more items, even after you have started voting.
    </p>
    <div class="add-item">
      <input ref="inpt" v-model="newCandidate" type="text" placeholder="Item Name" />
      <button @click="addCandidate">
        Add Item
      </button>
    </div>
    
    <hr />

    <div v-if="!candidates.length" class="item-placeholder">
      <p>Items you enter will appear here</p>
    </div>

    <div v-if="candidates.length">
      <candidate-item v-for="c in candidates" :key="c" :candidate="c"/>
    </div>

    <hr />

    <p v-if="nextBallot">
      Go ahead and <router-link to="/">cast some votes</router-link> when you're ready. Remember, you can always come back and add more items to your list, even after you've started voting.
    </p>
    <p v-if="!nextBallot">
      You'll need to <strong>enter at least two items</strong> before you can start voting.
    </p>


  </div>
</template>

<script>
import CandidateItem from '@/components/CandidateItem';

export default {
  name: 'CandidatesPage',
  components: {
    'candidate-item': CandidateItem
  },
  data () {
    return {
      newCandidate: ''
    }
  },
  methods: {
    addCandidate: function (event) {
      if (this.newCandidate) {
        this.$store.commit('add', this.newCandidate);
        this.newCandidate = '';
        this.$refs.inpt.focus();
        console.log(this.$refs);
      }
    }
  },
  computed: {
    candidates () {
      return this.$store.state.candidates;
    },
    nextBallot () {
      return this.$store.getters.nextBallot;
    }
  }
}
</script>

<style scoped>
.candidates-page {
  margin: 0px auto;
  max-width: 600px;
}

.candidates-page hr {
  border: none;
  border-top-color: #cccccc;
  border-top-style: solid;
  border-top-width: 1px;
  height: 0;
  margin: 20px;
}

.candidates-page p {
  margin: 20px;
  text-align: left;
  font-size: 1.2em;
}

.add-item {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: flex-end;
  font-size: 1em;
  overflow: hidden;
  margin-top: 20px;
}

.add-item input {
  border-radius: 3px 0 0 3px;
  border: none;
  flex-grow: 1;
  padding: 20px;
  font-size: 1em;
}

.add-item input:focus {
  border: 1px solid steelblue;
  box-shadow: 0px 1px 10px lightsteelblue inset;
  outline: none;
}

.add-item button {
  border: none;
  border-left: 1px solid #eeeeee;
  font-size: 1em;
  padding: 0px 20px;
}

.item-placeholder {
  margin: 20px auto;
  border: 2px dashed #cccccc;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: #999999;
}

.item-placeholder p {
  text-align: inherit;
}
</style>

