<template>
  <div class="candidate-list">
    <div class="unranked-list">
      <h2>Not yet ranked</h2>
      <candidate-item v-for="candidate in unranked" :key="candidate.name" :candidate="candidate" :votes="votes" />
      <input v-model="newName" type="text" />
      <button @click="addCandidate" :disabled="disableAdd">Add {{ newName }}</button>
    </div>
    <div class="ranked-list">
      <h2>Current ranking</h2>
      <candidate-item v-for="candidate in ranked" :key="candidate.name" :candidate="candidate" />
    </div>
  </div> 
</template>

<script>
import CandidateItem from './CandidateItem';

export default {
  name: 'CandidateList',
  data: function () {
    return {
      newName: '',
      //candidates: []
    }
  },
  computed: {
    candidates () {
      return this.$store.state.candidates;
    },
    disableAdd: function () {
      return this.newName.length === 0;
    },
    unranked: function () {
      return this.$store.getters.unranked;
    },
    ranked: function () {
      return this.$store.getters.ranked;
    },
    votes: function () {
      return this.$store.state.votes;
    }
  },
  components: {
    'candidate-item': CandidateItem
  },
  methods: {
    addCandidate: function (e) {
      if (this.newName) {
        this.$store.commit('add', this.newName);
        this.newName = '';
      }
    }
  }
}
</script>

<style scoped>
  .candidate-list {
    padding: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ranked-list {
    grid-column: 1 / 3;
  }
  .unranked-list {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
</style>


