<template>
  <div class="cast-vote">
    <p v-show="canVote">Select the one you like best!</p>

    <hr/>

    <div class="ballot-options">
      <button @click="selectFirst">
        {{ nextBallot[0] }}
      </button>
      <button @click="selectLast">
        {{ nextBallot[1] }}
      </button>
    </div>
  </div>
</template>

<script>
import CandidateItem from './CandidateItem';

export default {
  name: 'CastVote',
  components: {
    'candidiate-item': CandidateItem
  },
  data () {
      return {};
  },
  computed: {
    ranked () {
      return this.$store.getters.ranked;
    },
    unranked () {
      return this.$store.getters.unranked;
    },
    votes () {
      return this.$store.state.votes;
    },
    canVote () {
      return this.$store.state.candidates.length > 1;
    },
    nextBallot () {
      return this.$store.getters.nextBallot;
    }
  },
  methods: {
    getBallot () {
      return [
        this.$store.state.candidates[0],
        this.$store.state.candidates[1]
      ];
    },
    selectFirst (event) {
      let vote = this.nextBallot;
      document.body.focus();
      this.$store.commit('recordVote', vote);
      event.target.blur();
    },
    selectLast (event) {
      let vote = this.nextBallot.reverse();
      this.$store.commit('recordVote', vote);
      event.target.blur();
    }
  }
}
</script>

<style scoped>
.cast-vote {
  max-width: 600px;
  margin: 0 auto;
}

.cast-vote p {
  margin: 20px;
  text-align: center;
  font-size: 1.2em;
}

.cast-vote hr {
  border: none;
  border-top-color: #cccccc;
  border-top-style: solid;
  border-top-width: 1px;
  height: 0;
  margin: 20px;
}

.ballot-options {
  display: flex;
}

.ballot-options button {
  background-color: white;
  border: 1px solid #dddddd;
  font-size: 1em;
  padding: 20px;
  border-radius: 3px;
  display: block;
  flex-grow: 1;
}

.ballot-options button:first-child {
  margin-right: 20px;
}

.ballot-options button:hover,
.ballot-options button:focus {
  background-color: lightsteelblue;
  border-color: steelblue;
}
</style>
