<template>
  <div class="ranked-item">
    <div class="item-rank">
      {{ rank }}
    </div>
    <div class="item-name">
      {{ item }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'ranked-item',
  props: ['rank', 'item']
}
</script>

<style scoped>
  .ranked-item {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 0;
    margin-bottom: 20px;
    border-radius: 3px;
    display: flex;
  }
  
  .item-rank {
    font-weight: bold;
    font-size: 1.2em;
    padding: 20px;
    border-right: 1px solid #eeeeee;
  }

  .item-name {
    padding: 20px;
  }
</style>

