<template>
  <div class="results-page">
    <p>
      You have completed voting. <strong>The final ranking</strong> of your items is shown below.
    </p>

    <hr/>

    <ol>
      <li v-for="(c, index) in ranked" :key="c">
        <ranked-item :rank="index + 1" :item="c"/>
      </li>
    </ol>

    <hr/>

    <p>
      You can always <router-link to="/candidates">add more candidates</router-link> if you want.
    </p>
  </div>
</template>

<script>
import CandidateItem from '@/components/CandidateItem';
import RankedItem from '@/components/RankedItem';

export default {
  name: 'ResultsPage',
  components: {
    'candidate-item': CandidateItem,
    'ranked-item': RankedItem
  },
  computed: {
    ranked () {
      return this.$store.getters.ranked;
    }
  },
  created () {
    if (!this.$store.state.candidates.length) {
      this.$router.push('/candidates');
    } else if (this.$store.getters.nextBallot) {
      this.$router.push('/');
    }
  },
  beforeUpdate () {
    if (!this.$store.state.caniddates.length) {
      this.$router.push('/candidates');
    } else if (this.$store.getters.nextBallot) {
      this.$router.push('/');
    }
  }
}
</script>

<style scoped>
.results-page {
  max-width: 600px;
  margin: 0 auto;
}

.results-page p {
  margin: 20px;
  text-align: left;
  font-size: 1.2em;
}

.results-page hr {
  border: none;
  border-top-color: #cccccc;
  border-top-style: solid;
  border-top-width: 1px;
  height: 0;
  margin: 20px;
}

.results-page ol {
  padding: 0;
  list-style-type: none;
}
</style>
