<template>
  <cast-vote v-if="nextBallot"/>
</template>

<script>
import CastVote from '@/components/CastVote';

export default {
  name: 'VotePage',
  components: {
    'cast-vote': CastVote
  },
  data () {
    return {

    }
  },
  computed: {
    nextBallot () {
      return this.$store.getters.nextBallot;
    }
  },
  created () {
    if (!this.$store.getters.nextBallot) {
      if (this.$store.state.candidates.length) {
        this.$router.push('/results');
      } else {
        this.$router.push('/candidates');
      }
    }
  },
  beforeUpdate () {
    if (!this.$store.getters.nextBallot) {
      console.log(this.$store.state.candidates);
      if (this.$store.state.candidates.length) {
        this.$router.push('/results');
      } else {
        this.$router.push('/candidates');
      }
    }
  }
}
</script>
