<template>
  <div id="app">
    <div class="container">
      <h1>Pairwise Comparison</h1>
      <nav>
        <router-link to="/candidates">
          <span class="step-num">1</span> Add candidates</router-link>
        <router-link to="/">
          <span class="step-num">2</span> Vote
        </router-link>
        <router-link to="/results">
          <span class="step-num">3</span> See results
        </router-link>
      </nav>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #eeeeee;
}
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: block;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-rows: 1fr;
}
.container {
  background-color: steelblue;
}
h1 {
  color: white;
  margin: 0;
  padding: 12px 0;
  font-weight: normal;
}
nav {
  /*height: 75px;*/
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}
nav a {
  display: block;
  color: lightsteelblue;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  flex-grow: 1;
  padding: 10px;
  border-bottom: 4px solid lightsteelblue;
}

nav a:hover {
  color: white;
}

span.step-num {
  display: inline-block;
  width: 22px;
  height: 22px;
  color: steelblue;
  background-color: lightsteelblue;
  border-radius: 50%;
  letter-spacing: 0;
}

a.router-link-exact-active span.step-num,
a:hover span.step-num {
  background-color: white;
}

nav a.router-link-exact-active {
  color: white;
  border-bottom-color: white;
}

</style>
